@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

body.index-page {
  background-color: #CBD5CF;
  font-family: 'Cairo', sans-serif;
  text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
    .gallery img {
        width: 90vw; /* 화면 너비의 90% */
        height: auto;
    }
}